@import "bootstrap";

$black: #000;
$white: #FFF;
$ikb: #0033CC;
$red: red;

body {
  // Appearance
  background-color: $white;
  #index {
    // Header contains the headline and the tagline
    #header {
      // Structure
      padding-top: .4rem;
      margin-bottom: .3rem;
      // Appeance
      color: $black;
      h1 {
        font-size: 2.6rem;
        font-weight: bold;
        .name-highlight{
          color: $red;
        }
      }
      p {
        font-size: 1.2rem;
      }
    }
    .chapter {
      .chapter-header {
        // Structure
        padding-top: .6rem;
        // Appearance
        background-color: $white;
        h2 {
          // Structure
          margin-bottom: 0;
          padding-bottom: .5rem;
          // Appearance
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      hr {
        // Structure
        width: 100%;
        margin-top: 0rem;
        margin-bottom: .6rem;
        // Appearance
        border-top-color: $black;
      }
      .time-list {
        // Structure
        margin-bottom: .7rem;
        // Appearance
        font-family: Courier, serif;
        font-size: 1.1rem;
      }
    }
  }
}
